---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
// import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'ComeFoundWithMe',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{
      src: '~/assets/images/hero-image.jpeg',
      alt: 'AstroWind Hero Image',
      class: 'object-cover object-top',
      style: 'height: 600px;',
    }}
  >
    <Fragment slot="title">Come Found With Me</Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Let's impact the lives of billions.</span>
      </span>
    </Fragment>
  </Hero>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Edges"
    items={[
      {
        title: 'Catalyst',
        description:
          "I have a strong catalyst edge. I have been exposed to multiple industries including defence, energy and manufacturing. My engineering experience in systems and controls has given me a unique perspective on how to solve complex cross-domain problems. Similarly, integrating and applying multiple technologies to solve complex problems is something I am passionate about.",
        icon: 'tabler:package',
      },
      {
        title: 'Tech',
        description:
          "I have a technical edge. Having studied and practiced implemeting control systems, building software to simulate complex systems and leading complex technical projects. I have less experience with web development, but I am learning. I am interested in modern AI approaches and can see the potential but my edge lies more in systems & control domain.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Commercial',
        description:
          "I have less of a commercial edge. I have some commercial understanding of energy systems and have interacted with international clients, but I do not have deep commercial knowledge in any one market. I am currently investigating technologies in supply chain and logistics to improve the resilience of supply chains.",
        icon: 'tabler:paint',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    title="Background"
    subtitle=``
    items={[
      {
        title: 'Systems Engineering',
        description:
          `<a href="https://sebokwiki.org/wiki/Systems_Engineering_(glossary)" target="_blank" class="text-blue-600 hover:text-blue-800 underline">Systems engineering</a> is an interdisciplinary field that, similar to a technical product manager, but more focussed on integrating multiple components of a system to ensure it meets the needs of the user. I have used systems engineering practices in rocketry and vertical farming. However, the way these practices are used in industry are very slow and broken, but there is an interesting case in using systems engineering in the context of business development <a href="https://marketcreatorslab.com/ive/" target="_blank" class="text-blue-600 hover:text-blue-800 underline">here</a>.`,
      },
      {
        title: 'Systems Thinking',
        description:
          `<a href="https://en.wikipedia.org/wiki/Systems_thinking" target="_blank" class="text-blue-600 hover:text-blue-800 underline">Systems thinking</a> is another intrerdisciplinary field that has its origins in control systems. Systems thinking is an excellent way to map and understand problems in a holistic way, and can be applied to almost any domain. Systems thinking enables conversations to be held at a higher level of abstraction, and allows you to find ways to solve problems at their root cause.`,
      },
      {
        title: 'Control Systems',
        description:
          `The field of control engineering essentially ensures that systems behave as intended. The brains of many autonomous systems are <a
        href="https://www.youtube.com/watch?v=lBC1nEq0_nk"
        target="_blank"
        class="text-blue-600 hover:text-blue-800 underline">control systems</a
      >. What may seem to many as 'AI' are actually control systems. Your body maintaining a temperature of 37 degrees
      Celsius is a <a
        href="https://med.libretexts.org/Bookshelves/Anatomy_and_Physiology/Human_Anatomy_and_Physiology_Preparatory_Course_(Liachovitzky)/01%3A_Levels_of_Organization_of_the_Human_Organism/1.03%3A_Homeostasis_and_Control_Systems"
        target="_blank"
        class="text-blue-600 hover:text-blue-800 underline">control system</a
      >. SpaceX lands its rockets using control engineering, solving <a
        href="https://www.youtube.com/watch?v=Kk5J-wOYOFM"
        target="_blank"
        class="text-blue-600 hover:text-blue-800 underline">optimal control</a
      > problems throughout the landing process via <a
        href="https://en.wikipedia.org/wiki/Model_Predictive_Control"
        target="_blank"
        class="text-blue-600 hover:text-blue-800 underline">model predictive control</a
      >. I work with control systems in the renewable energy sector, but have experience with developing controls in vertical farming, medical devices and aerospace.`,
      },
      {
        title: 'Software Engineering',
        description:
          `I have developed <a href="https://en.wikipedia.org/wiki/Complex_system" target="_blank" class="text-blue-600 hover:text-blue-800 underline">complex systems</a> simulations using agent-based models to simulate complex behaviours in the public health domain, simulating the <a href="https://www.drinkaware.co.uk/research/research-and-evaluation-reports/understanding-the-alcohol-harm-paradox" target="_blank" class="text-blue-600 hover:text-blue-800 underline">alcohol harm paradox</a>.`,
      },
      {
        title: 'Electronics & Embedded Systems',
        description:
          'I have built custom electronics spanning lighting systems that reacted to music to embedded avionics for rockets and custom networked sensor systems for home automation.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
      classes: {
        container: 'md:flex md:items-left',
      },
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Stats
    title="My Big 5 Personality Score"
    subtitle=`Every year I score myself on the Big 5 personality test. It is important to be honest and clear in finding a co-founder, and I will be curious to know yours also.
    Try one <a href="https://www.truity.com/test/big-five-personality-test" target="_blank" class="text-blue-600 hover:text-blue-800 underline">here</a>.`
    stats={[
      { title: 'Openness', amount: '70%' },
      { title: 'Conscientiousness', amount: '87%' },
      { title: 'Extroversion', amount: '65%' },
      { title: 'Agreeableness', amount: '68%' },
      { title: 'Neuroticism', amount: '32%'}
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Projects & Ideas"
    subtitle="I have worked on a variety of projects and ideas, here are some recent ones which I believe have business potential"
    isAfterContent
    items={[
      {
        title: 'Smart shipping containers',
        description:
          "The maritime industry is expected to grow by <a href='https://www.marketresearchfuture.com/reports/maritime-market-41641' target='_blank' class='text-blue-600 hover:text-blue-800 underline'>~$700bn by 2035</a>. It is a sector that is often not considered, yet touches the lives of all of us - through trade and logistics. Not only is it a sector that is expected to grow, but it is also a sector that is ripe for disruption, with lots of legacy systems still in place. My vision is to capture data on each container, including what it is carrying and where is it going - data fundamental not only to the maritime sector but the economy more generally. Maybe you've heard of <a href='https://www.ibm.com/think/topics/industry-4-0/' target='_blank' class='text-blue-600 hover:text-blue-800 underline'>industry 4.0</a>, this is the road to 'Economy 4.0'.",
      },
      {
        title: 'Supply chain resilience through distributed manufacturing',
        description: `COVID and the war in Ukraine are both crises that demonstrated that our supply chains lack resilience. What naturally emerged in both crises is a shift towards distributed manufacturing - 3D printed ventilator valves or locally manufactured drone components are two examples. With governments and MoD's prioritising resilience and defence, connecting 'ready-to-go' micro-manufacturers with defence primes and the MoD could be a business opportunity.`,
      },
      {
        title: 'Fully autonomous drone swarms',
        description:
          'The war in Ukraine has highlighted the cost advantage of using cheap drones to deliver firepower. Whilst the cost of one 155 Howitzer shell ranges from $2000 - $10,000, the cost of a cheap FPV drone is around $500. The future of warfare will be defined not only by the cost of weapons, but also the algorithms driving them. And, if drones can autonomously act in the same way that swarms of hornets to protect their nest, there is a huge tactical advantage. Currently, Ukraine is operating on a one-to-one drone-to-pilot ratio, which is not scalable. Combining modern AI with swarm control systems is a very viable option not only for the future of warfare. Networked swarm control systems could control fleets of autonomous vehicles to act as holistic transportation systems. The software layer of swarm control systems can be generalised to many domains, including transportation to logistics.',
      },
      
      {
        title: 'Offgrid energy system matchmaking',
        description:
          'European law states that EU countries must limit nitrogen emissions, and diesel generators emit a lot of nitrogen. The construction sector is a major contributor of nitrogen emissions due to their use of diesel generators. Hence this legislation is already a blocker to construction in the Netherlands, which is experiencing a housing crisis. Other EU states are also bound to these laws, and are facing housing crises, such as Spain. There are already companies that can provide nitrogen-free energy, by means of hydrogen generators or large batteries, hence matching them with offgrid energy system providers could be a business opportunity.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    title="What I'm looking for in a co-founder"
    items={[
    {
      title: 'Agency',
      description:
        'Self-starting, proactive, and comfortable with ambiguity. Able to take initiative without waiting for permission.',
    },
    {
      title: 'Risk Taking Capacity & Boldness',
      description:
        'Willing to act decisively under uncertainty. You must be willing to be bold - it often yields the best results.',
    },
    {
      title: 'Honesty and Integrity',
      description:
        'Open to giving and receiving direct feedback. Strong interpersonal skills matter - companies are made of people.',
    },
    {
      title: 'Resilience',
      description:
        'Entrepreneurship is hard. I value people who maintain their energy and clarity — whether through reflection, routine, or recovery. Maybe we can even exercise together?',
    },
    {
      title: 'Complementary Strengths',
      description:
        'You bring skills I don’t — ideally with strong commercial instincts, product sense, or market insight.',
    },
    {
      title: 'Curiosity and Learning',
      description:
        'Able to ask “obvious” questions, learn fast, and adapt. Driven by understanding, not ego.',
    },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- HighlightedPosts Widget ******* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Common questions people ask me"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What got you into systems?',
        description:
          `I was first drawn to systems through the work of Buckminster Fuller, who said, “We need to think about problems systemically, and resolve them as such.” His approach blended mathematics, physical principles, and design in a way that emphasised direct experience.
          I chose to study systems and control because it's one of the most generalisable disciplines: it helps explain how and why a system behaves, and provides tools to influence it. What captivates me most is the concept of feedback. Whether it's a thermostat resisting temperature swings, your reflexes withdrawing from heat, or a startup adjusting to hard truths — robust systems respond to feedback.
          `,
      },
      {
        title: 'Where are you from, really?',
        description: `I was born in Northern Italy, near <a href="https://maps.app.goo.gl/D1pudcwur1RerLcy8" target="_blank" class="text-blue-600 hover:text-blue-800 underline">Lake Maggiore</a> and lived there until I was 7, when I moved to the UK with my mum. My mum is English and my dad is Italian, so I have two mother tongues (English and Italian). 
        But even though I was born in the North of Italy, my heritage is Sardinian (Zuddas is a Sardinian surname) and I would go to Sardinia every summer. 
        However, I spent most of my life in the UK and lived, worked and studied in Brighton, London and Sheffield. All of this aside, I currently live in the Netherlands.`,
      },
      {
        title: 'Why entrepreneurship?',
        description: `Having had little guidance in my life, I've learnt to make bold decisions and work things out as I go. 
        I am interested in Entrepreneurship and especially EF because of the emphasis on solving globally relevant problems, now. Over time, I’ve become increasingly frustrated with the narrow scope of problems in traditional roles.
        The benefit of entrepreneurship is that you get to choose whicih problems to solve, and EF provides driven people and the conditions to take a moonshot. For me, it’s an obvious next step. It is the room I’ve been searching for, where drive and intensity are the norm. Now, I’m ready to build systems that touch the lives of billions.`
      },
      {
        title: 'What do you do in your spare time?',
        description: `Exercise is very important to me especially in the mornings. 
        I enjoy listening to history and personal development podcasts. 
        I co-lead a community of engineers from the Royal Academy of Engineering, which I find very rewarding. 
        Other than that, I don't have much spare time because I'm always building something.`,
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Want to team up?"
    actions={[
      {
        variant: 'primary',
        text: 'WhatsApp Me',
        href: 'https://wa.me/+447598064088',
        target: '_blank',
        icon: 'tabler:brand-whatsapp',
      },
    ]}
  >
  </CallToAction>
</Layout>
